[workspace]
resolver = "2"
members = ["andy-cpp-macros"]

[package]
name = "ndc"
version = "0.1.0"
edition = "2021"
authors = ["Tim Fennis <fennis.tim@gmail.com>"]
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "ndc_lib"
path = "src/lib.rs"

[profile.release]
debug = true # enabled for flamegraph
strip = false # disabled for flamegraph
lto = true

[dependencies]
anyhow = "1.0.80"
clap = { version = "4.5.1", features = ["derive"] }
colored = "2.1.0"
num = "0.4.1"
rustyline = { version = "14.0.0", optional = true, features = ["derive"] }
ryu = "1.0.17"
thiserror = "1.0.58"
andy-cpp-macros = { path = "andy-cpp-macros" }
itertools = "0.12.1"
either = "1.11.0"
ahash = "0.8.11"

[features]
default = ["repl"]
repl = ["dep:rustyline"]
