[workspace]
resolver = "3"
members = ["ndc_macros", "ndc_bin", "ndc_lib", "ndc_lsp", "benches", "tests"]

[workspace.package]
edition = "2024"
publish = false
version = "0.2.0"
license = "MIT"

[workspace.dependencies]
ahash = { version = "0.8.12" }
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
criterion = { version = "0.8.0", features = ["html_reports"] }
derive_builder = { version = "0.20.2" }
derive_more = { version = "2.0.1", features = ["deref", "deref_mut", "from", "display", "constructor"] }
factorial = "0.4.0"
itertools = "0.14.0"
miette = { version = "7.6.0", features = ["fancy"] }
ndc_lib = { path = "ndc_lib" }
ndc_lsp = { path = "ndc_lsp" }
ndc_macros = { path = "ndc_macros" }
num = "0.4.3"
once_cell = "1.21.3"
ordered-float = "5.1.0"
owo-colors = "4.2.3"
rand = "0.9.2"
rand_chacha = "0.9.0"
regex = "1.12.2"
rustyline = { version = "17.0.2", features = ["derive"] }
ryu = "1.0.20"
self_cell = "1.2.1"
serde_json = { version = "1.0.145", features = ["arbitrary_precision"] }
strsim = "0.11.1"
tap = "1.0.1"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full"] }
tower-lsp = "0.20.0"
