[package]
name = "andy-cpp-macros"
version = "0.1.0"
edition = "2021"
authors = ["Tim Fennis <fennis.tim@gmail.com>"]
license = "MIT"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.79"
quote = "1.0.35"
syn = { version = "2.0.55", features = ["full", "extra-traits"] }
